# Віртуальне середовище
venv/
__pycache__/

# Ключі та секрети
*.json           # Не комітити JSON-файли з ключами
.env             # Файл змінних середовища

# Логи
*.log

# OS-системні файли
.DS_Store
Thumbs.db

# Тимчасові або кешовані файли Python
*.pyc
*.pyo
*.pyd
*.swp
smooth-calling-470117-h2-5475aabd3ec1.json
